ALTER TABLE employees ADD COLUMN epf_employee_rate DECIMAL(5,2) DEFAULT 0.08;
ALTER TABLE employees ADD COLUMN epf_employer_rate DECIMAL(5,2) DEFAULT 0.12;
ALTER TABLE employees ADD COLUMN etf_employer_rate DECIMAL(5,2) DEFAULT 0.03;
